/* Background needs a stronger selector to not be overridden */
[part~="cell"].friday {
  background: #bd8b32;
}

[part~="cell"].saturday {
  background: #549fb6;
}

[part~="cell"].sunday {
  background: #905493;
}

[part~="cell"].right-border {
  border-right: solid 1px black;
}

[part~="cell"].actual-ok {
  font-weight: bold;
  color: #0d6604
}

[part~="cell"].actual-ko {
  font-weight: bold;
  color: #710202
}
